<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
    </style>
</head>


<body>


    <div class="main">


        <div class="nav">
            <div class="nav-sub1 text-4xl cursor-pointer ">
                <div class="nav-sub-micro1 hover:border-b-2 border-l-pink-300">Home</div>
                <div class="nav-sub-micro2 hover:border-b-2 border-l-pink-300">Men</div>
                <div class="nav-sub-micro3 hover:border-b-2 border-l-pink-300">Women</div>
                <div class="nav-sub-micro4 hover:border-b-2 border-l-pink-300">Kid</div>

            </div>

            <div class="nav-sub2">

                <h1 class="text-6xl">ChicNest</h1>

            </div>
            <div class="nav-sub3 text-4xl cursor-pointer">
                <div class="nav-sub3-micro1  hover:border-b-2 border-l-pink-300 "><a href="">About</a></div>
                <div class="nav-sub3-micro2  hover:border-b-2 border-l-pink-300 "><a href="">Wholesale</a></div>
                <div class="nav-sub3-micro3  hover:border-b-2 border-l-pink-300 "><a href="">Gift Cards</a></div>
                <div class="nav-sub3-micro4  hover:border-b-2 border-l-pink-300 ">|</div>
                <div class="nav-sub3-micro5  hover:border-b-2 border-l-pink-300 "><a href=""> <i class="ri-search-fill"></i></a></div>
                <div class="nav-sub3-micro6  hover:border-b-2 border-l-pink-300 "><a href="">Login</a></div>
                <div class="nav-sub3-micro7  hover:border-b-2 border-l-pink-300 font-light"><a href=""><i class="ri-shopping-cart-line"></i></a>
                    <h4 style="font-weight: 500;"><a href="">Cart</a></h4>
                </div>

            </div>

        </div>



        <div class="home-title text-4xl hover:text-zinc-700 hover:border-b-4 border-l-pink-300 w-24">
            <h1><a href="">Home</a></h1>
        </div>


        <div class="product">
            <div class="product-row1">
                <div class="product-row1-coloumn1">
                    <img src="https://images.unsplash.com/photo-1434389677669-e08b4cac3105?q=80&w=2010&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="">
                    <div class="product-row-coloumn1-name">
                        <h5>Poncho's</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4 style="color: rgba(0, 0, 0, 0.622);">From 699RS</h4>
                </div>
                <div class="product-row2-coloumn2">
                    <img src="https://images.unsplash.com/photo-1611312449408-fcece27cdbb7?q=80&w=1938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="">
                    <div class="product-row-coloumn1-name">
                        <h5>Quatrize-Denim's</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4 style="color: rgba(0, 0, 0, 0.622);">From 899RS</h4>
                </div>
                <div class="product-row3-coloumn3">
                    <img src="https://images.unsplash.com/photo-1611312449412-6cefac5dc3e4?q=80&w=1984&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="">
                    <div class="product-row-coloumn1-name">
                        <h5>Dickies Check Shirt's</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4 style="color: rgba(0, 0, 0, 0.622);">From 499RS</h4>
                </div>
                <div class="product-row4-coloumn4">
                    <img src="https://images.unsplash.com/photo-1611312449297-a69dc9c3987b?q=80&w=1996&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="">
                    <div class="product-row-coloumn1-name">
                        <h5>Blvckbearx Sweater's</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4 style="color: rgba(0, 0, 0, 0.622);">From 1399RS</h4>
                </div>
            </div>
            <div class="product-row2">
                <div class="product-row2-coloumn1">

                    <img src="https://images.unsplash.com/photo-1542825735-273f6f8eda1b?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Alco's Leather's</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4 style="color: rgba(0, 0, 0, 0.622);">From 3399RS</h4>

                </div>
                <div class="product-row2-coloumn2">
                   
                    <img src="https://images.unsplash.com/photo-1574201635302-388dd92a4c3f?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Paradise Sweater's</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4  style="color: rgba(0, 0, 0, 0.622);">From 1499RS</h4>

                </div>
                <div class="product-row2-coloumn3">

                    <img src="https://images.unsplash.com/photo-1578681994506-b8f463449011?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Blumchen Club's</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4  style="color: rgba(0, 0, 0, 0.622);">From 499RS</h4>

                </div>
                <div class="product-row2-coloumn4">

                    <img src="https://images.unsplash.com/photo-1624476837265-c1e468071510?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Bulberry Longcoat's</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4  style="color: rgba(0, 0, 0, 0.622);">From 3099RS</h4>

                </div>
            </div>
            <div class="product-row3">
                <div class="product-row3-coloumn1">

                    <img src="https://images.unsplash.com/photo-1614676471928-2ed0ad1061a4?q=80&w=1941&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Parker's Collection</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4  style="color: rgba(0, 0, 0, 0.622);">Starting from 999RS</h4>

                </div>
                <div class="product-row3-coloumn2">

                    <img src="https://images.unsplash.com/photo-1516762689617-e1cffcef479d?q=80&w=2022&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Tipcandle'ss Collection</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4  style="color: rgba(0, 0, 0, 0.622);">Starting from 499RS</h4>

                </div>
                <div class="product-row3-coloumn3">

                    <img src="https://images.unsplash.com/photo-1467043237213-65f2da53396f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Root's Collection</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4  style="color: rgba(0, 0, 0, 0.622);">Starting from 799RS</h4>

                </div>
                <div class="product-row3-coloumn4">

                    <img src="https://images.unsplash.com/photo-1632469188022-b5db09a70fbc?q=80&w=1957&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Spectrum's Collection</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4  style="color: rgba(0, 0, 0, 0.622);">Starting from 1099RS</h4>
                    
                </div>
            </div>
            <div class="product-row4">
                <div class="product-row4-coloumn1">

                    <img src="https://images.unsplash.com/photo-1616150638538-ffb0679a3fc4?q=80&w=1979&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Laco's Collection</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4  style="color: rgba(0, 0, 0, 0.622);">Starting from 399RS</h4>

                </div>
                <div class="product-row4-coloumn2">

                    <img src="https://images.unsplash.com/photo-1627637454030-5ddd536e06e5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Bomber Viticon Jacket's</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4>From 2399RS</h4>


                </div>
                <div class="product-row4-coloumn3">

                    <img src="https://images.unsplash.com/photo-1544022613-e87ca75a784a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Xuver's Long shirts</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4>From 850RS</h4>

                </div>
                <div class="product-row4-coloumn4">

                     <img src="https://images.unsplash.com/photo-1604272490759-7c465473958a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                    <div class="product-row-coloumn1-name">
                    <h5>Beans Hoodie's</h5><i class="ri-heart-line"></i>
                    </div>
                    <h4>From 1100RS</h4>


                </div>
            </div>


            
        
                    <div class="change-page hover:cursor-pointer ">
                        <h1><a class="w-4 hover:bg-black rounded-full  hover:text-pink-300 " href="">1</a></h1>
                        <h1><a class="w-4 hover:bg-black rounded-full  hover:text-pink-300 " href="">2</a></h1>
                        <h1><a class="w-4 hover:bg-black rounded-full  hover:text-pink-300 " href="">3</a></h1>
                        <a class=" hover:bg-zinc-600 rounded-full  hover:text-pink-300" href=""><i class="ri-arrow-right-fill"></i></a>
                     </div>



        </div>



        <div class="info">
            <h1 class="text-3xl">GET 20% OFF YOUR NEXT ORDER!</h1>
           
        </div>
        
        <div class="subscription">
            <h4>Subscribe and stay informed on our magic news, tips and exclusive offers.</h4>
        </div>

          <div class="last-page">


            
            <div class="terms text-xl ml-14 hover:cursor-pointer">
               <a href=""> <h4>Terms & Conditions</h4></a>
              <a href="">   <h4>Shipping & Handling</h4></a>
                <a href=""><h4>Track my Order</h4></a>
                <a href=""> <h4>Returns & Refunds Wholesale</h4></a>
               <a href=""> <h4>Join Our Team</h4></a>
                <a href=""> <h4>ESprojektai</h4></a>
                <a href=""> <h4>©2024 ChicNest</h4></a>
            </div>
            <div class="social text-xl mr-36 hover:cursor-pointer">
                <a href=""><i class="ri-instagram-line"></i></a>
               <a href=""> <i class="ri-facebook-line"></i></a>
              <a href="">  <i class="ri-youtube-fill"></i></a>
            </div>
          </div>  



    </div>


<script src="script.js"></script>
</body>

</html>